{% extends "base.html" %}
{% block content %}
<header class="navbar navbar-light">
    <nav class="container">
        <div class="navbar-header">
            <a class="navbar-brand font-effect-shadow-multiple" style="font-family: 'Roboto', sans-serif; color: black; font-size: 2em" href="/">{{ output_page.title }}</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% include "selection-form.html" %}
            </div>
            <div class="alert alert-info" style="border-radius: 0; border-top: 0; border-right: 0; border-left: 0">
                <p class="text-left">Найдено {{ resumes|length }} резюме</p>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    {% for column_num in range(0, output_page['table_headers']|length) %}
                    <th>{{ output_page['table_headers'][column_num] }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for resume in pagination_items %}
                <tr>
                    <th scope="row" class="">{{ resume.id }}</th>
                    <td class="col-md-2"><a href="{{ resume.url }}">{{ resume.title }}</a></td>
                    <td>{{ resume.city }}</td>
                    <td class="col-md-5">
                        {% set keywords_list = resume.keywords | replace("[", "") | replace("]", "") | replace("'", "") %}
                        {% for item in keywords_list.split(",") %}
                        {% if item %}
                        <span class="label label-default label-gray-light" style="display: inline-block;">{{ item }}</span>
                        {% else %}
                        <p>-</p>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-{% if resume.has_degree == True %}ok green{% elif resume.has_degree == False %}remove red{% endif %}"
                              aria-hidden="true"></span>
                    </td>
                    <td class="col-md-1">{{ resume.age }}</td>
                    <td>
                        {% if resume.gender == "male" %}
                        М
                        {% elif resume.gender == "female" %}
                        Ж
                        {% endif %}
                    </td>
                    <td class="text-right col-md-1">{% if resume.salary %}{{ resume.salary }}{% elif resume.salary == 0 or not resume.salary %}<p>-</p>{% endif%}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>{{ flask_pagination.info }}</p>
    <div class="row col-md-12 text-center">{{ flask_pagination.links }}</div>
</div>
{% endblock %}
